<h1>Sign In</h1>

<%= form_tag login_path do %>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%=label_tag :email %>
        <%=email_field_tag :email, nil, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%=label_tag :password %>
        <%=password_field_tag :password, nil, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%=submit_tag "Sign In", :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %>

<% if flash[:error].present? %>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="alert alert-primary" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= flash[:error] %>
    </div>
  </div>
</div>

<% end %>
