<h1> Events that <%= @user.email %> liked </h1>

<%= form_for '/user' do |f| %>
 <% Event.all.each do |event| %>
   <div class="row">
     <div class="col-md-4 offset-md-4">
       <div class="form-group bg-secondary text-white" style='padding-left:100px'>
         <%= check_box_tag "numbers[]",event.id, @user.event_ids.include?(event.id), id: dom_id(event)%>
         <%= label_tag dom_id(event), event.title %><br>
       </div>
     </div>
   </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= f.submit "Watched List", :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %>
