<h1>New Video</h1>

<%= form_for @video do |f| %>
  <%=f.label :vid, "Video"%>
  <%=f.text_field :vid %>
  <%=f.label :event_id %>
  <%=f.select :event_id, Event.pluck(:title,:id) %>
  <%= f.submit %>
<% end %>
