<%= form_for @event do |f| %>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :title , :required => true %>
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :poster %>
        <%= f.text_field :poster, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :date %>
        <%= f.text_field :date, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :duration %>
        <%= f.text_field :duration, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :genre_id, "Genre" %>
        <%= f.select :genre_id, Genre.pluck(:title, :id),{}, :include_blank => true,  :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :venue %>
        <%= f.text_field :venue, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :whats_on %>
        <%= f.text_field :whats_on, :class => 'form-control' %><p class='text-primary'> *if it is a running event, just write 'new'</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= f.submit "New Event", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
