<div class="new-event-nav">

  <% if @current_user.present? %>
    <% if @current_user.admin? %>
      <br><br>
      <%= link_to "Edit #{@event.title}", edit_event_path %>
      <%= link_to "Delete #{@event.title}", @event, :method => 'delete', :data => {:confirm => "Are you sure?"},:class => 'text-danger'%>

      <% if @current_user.present? %>
        <% if @current_user.admin? %>
          <%= link_to "Delete a Role",event_roles_path,:class => 'text-danger' %>
        <% end %>
      <% end %>
      <%= link_to "Back", events_path %>
    <% end %>
  <% end %>

</div>
<br/>

<h1><%= @event.title %></h1>

<div class='event-container'>
  <div class="event-poster">
    <% if @event.poster.present? %>
      <%= image_tag @event.poster %>
    <% else %>
      <%= image_tag 'https://i.imgur.com/6S2tKUb.jpg' %>
    <% end %>
  </div>

  <div class="event-info">
    <% if @event.date.present? %>
      <p>Date: <%= @event.date %></p>
    <% end %>
    <% if @event.duration.present? %>
      <p>Duration: <%= @event.duration %></p>
    <% end %>
    <% if @event.genre.present? %>
      <p>Genre: <%= @event.genre.title %></p>
    <% end %>
    <% if @event.price.present? %>
      <p>Price: <%= @event.price %></p>
    <% end %>
    <% if @event.venue.present? %>
      <p>Venue: <%= @event.venue %></p>
    <% end %>
  </div>
</div>

<br>
<% if @event.description.present? %>
  <div id='desc'><p><%= @event.description %></p></div>
<% end %>
<hr>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" data-toggle="collapse" data-parent="#event-navs" data-target="#cast_crew"> Artists </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" data-toggle="collapse" data-parent="#event-navs" data-target="#photos"> Images</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" data-toggle="collapse" data-parent="#event-navs" data-target="#videos" > Videos </a>
      </li>

    </ul>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div id="event-navs">
  <div id='cast_crew' class='collapse' data-parent="#event-navs">
    <div class="row">
      <div class="col-md-6 offset-md-1">
        <% @event.roles.each do |role| %>
            <p>
              <% if Artist.find(role.artist_id).image.present? %>
                <%= link_to image_tag(Artist.find(role.artist_id).image, :id=>'small-img'), Artist.find(role.artist_id)%>
              <% else %>
                <%= link_to image_tag('https://i.imgur.com/6S2tKUb.jpg', :id=>'small-img'), Artist.find(role.artist_id)%>
              <% end %>
              <%= role.title %>:
              <%= link_to Artist.find(role.artist_id).name, Artist.find(role.artist_id)%>
            </p>
        <% end %>
      </div>
    </div>
  </div>

  <div id='photos' class='collapse show' data-parent="#event-navs">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @event.photos.each_with_index do |p,i| %>
          <div class="carousel-item <%= "active " if i==0 %>">
            <% if p.img.present? %>
                <% if @current_user.present? && @current_user.admin? %>
                  <%=link_to image_tag(p.img, :id => 'img-nav'), p %>
                  <p><%=link_to 'Delete this image', p, :class => 'text-danger' %></p>
                  <hr>
                <% else %>
                  <p><%= image_tag p.img,:id => 'img-nav' %></p>
                <% end %>
            <% end %>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="videos" class='collapse' data-parent="#event-navs">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
            <% @event.videos.each_with_index do |v,i| %>
              <div class="carousel-item <%= "active " if i==0 %>">
                <% if v.vid.present? %>
                  <% if v.vid.include?("youtube") %>
                    <iframe title="YouTube video player" width="100%" height='400px' src="https://www.youtube.com/embed/<%= youtube_embed(v.vid) %>" frameborder="0" allowfullscreen></iframe>
                  <% else %>
                    <iframe title="YouTube video player" width="100%" height='400px' src="<%= v.vid %>" frameborder="0" allowfullscreen></iframe>
                  <% end %>
                  <% if @current_user.present? %>
                    <% if @current_user.admin? %>
                      <p><%=link_to 'Delete this video', v, :class => 'text-danger' %></p>
                      <hr>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
  </div>

</div>
