<h1>Online Donation</h1>
<p>Use this form to make an online donation. If this is for something specific,
   please note that in the comment box</p>

<h2>Donor information</h2>
<%= form_tag donation_path do %>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name,nil, :required => true%>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name,nil, :required => true %>
  <%= label_tag :email %>
  <% if @current_user.present? %>
    <%= email_field_tag :email, @current_user.email, :required => true %>
  <% else %>
    <%= email_field_tag :email,nil, :required => true %>
  <% end %>

  <%= submit_tag "Process Donation"%>
<% end %>
