<h1> Nomad Art Group </h1>

<div class="row">
  <div class="col-md-3">
    <h2>Reviews on Veronica Room Theatre</h2>
    <div class="row">
      <div class="col">
        <%= link_to image_tag(@reviews.first.img,:class => "img-thumbnail"), @reviews.first.link, :target => '_blank' %>
        <p>
          <%= @reviews.first.description %>
        </p>
        <%= link_to "Link to #{@reviews.first.title}", @reviews.first.link, :target => '_blank' %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to image_tag(@reviews.second.img,:class => "img-thumbnail"), @reviews.second.link, :target => '_blank' %>
        <p>
          <%= @reviews.second.description %>
        </p>
         <%= link_to "Link to #{@reviews.second.title}", @reviews.second.link, :target => '_blank' %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col">
        <h2> About us </h2>
        <p> Nomad Art Group built on the strong traditions of presenting creative art
            performances to the audience in Australia. From our humble beginnings as a
            small and fledgeling community theatre, we have helped bring laughter, drama
            and the best voices from around the Country to our stages.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <% Event.all.each do |e| %>
          <% if e.whats_on == 'new' %>
            <h2> What's On </h2>
            <p><%=link_to e.title, e %></p>
            <% if e.poster.present? %>
              <div class="text-center">
                <p><%= link_to image_tag(e.poster, :class => "img-thumbnail"), e %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <h2>Donation</h2>
    <p>The future of theatre is in our hands. Your support will keep our community
       of artists, theatre makers and audiences intact.
    </p>
    <%= link_to image_tag('https://i.imgur.com/1GqaxvC.jpg',:class => "img-thumbnail"), donation_path %>
    <%= link_to 'Donate Now', donation_path %>
  </div>

</div>
