<h1> New Image </h1>

<%= form_for @photo do |f| %>
  <%= f.label :img ,"Image" %>
  <%= f.text_field :img %>
  <%= f.label :event_id %>
  <%= f.select :event_id, Event.pluck(:title,:id)%>
  <%= f.submit %>
<% end %>
