<h1>New Review</h1>

<%= form_for @review do |f| %>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :required => true, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :link %>
        <%= f.url_field :link, :class => 'form-control', :required => true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :image %>
        <%= f.text_field :img, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, cols:'30', rows:'10', :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= f.submit nil, :class => 'btn btn-primary'  %>
    </div>
  </div>
  
<% end %>
